
@font-face {
  font-family: futura;
  src: url('./assets/fonts/FuturaLT-HeavyOblique.ttf');
}
*{
  font-family: futura;
}

body {
  background: rgb(0, 0, 0);
}

#link1,
#link2 {
  margin: 0.223rem;
  color:rgba(4, 255, 92, 0.603);
}

#link2 {
  margin-bottom: 2.5rem;
}

#link1:hover,
#link2:hover {
  transition: 0.434s;
  color:rgb(249, 229, 202)
}
.projDisplay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#projTitle{
  color: antiquewhite;
  margin-bottom: 0.111rem;
}

.port-title,
.bio-title,
.nav-el {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  color:antiquewhite;
}

h2.bio-title {
  font-size: xx-large;
}
.nav-el {
  color: white;
  background-color: transparent;
  margin-bottom: 1rem;
  margin-right: 6.222rem;
  margin-left: 6.222rem;
}



/* .profile-pic::after {
  content: "";
  clear: both;
  display: table;
} */

.projDisplay img {
  border: 1px solid #08e66143;
  padding: 5px;
  width: 175px;
}

.profile-pic{
  display: flex;
  float: left;
  width: 16rem;
  height: 16rem;
  border-radius: 27%;
  border: 0.0071rem solid #ffffff;
}

.projects a {
  display: grid;
  justify-content: center;
  align-items: center;
}

.projects h3 {
  display: grid;
  justify-content: center;
  align-items: center;
}

.bio-text {
  display: grid;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color:antiquewhite;
  font-size: x-large;
  padding: 2rem;
}

.header-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
  color: rgba(0, 0, 0, 0.211);
}

.header-txt1{
  margin-left: 0.993rem;
}

.bigfeet{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(4, 255, 92, 0.603);
}

.nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

#navbar a {
  margin-right: 1.775rem;
  color: white;
  margin-left: 5rem;
  font-family: balanced;
}

#evil-twin,
.paddington{
  margin-top: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgba(4, 255, 92, 0.603);
}

.business-card{
  display: flex;
  margin: 2rem;
  padding: 1.5rem;
  border: #000000 solid 0.71rem;
} 